.wrapper{
  margin: 0 auto;
  height: 100vh;
  max-width: 65vh;
  background-color: #fff; 
  box-sizing: border-box; 
}
.bannerbox{
  height: 54.4vh;
  background-image: url('../images/banner.jpg');
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 5.4vh 5.4vh 0;
  overflow: hidden;
  box-sizing: border-box;
}
.topcont{
  height: 49vh;
  border-top: 1px solid #e3ffff;
  border-left: 1px solid #e3ffff;
  border-right: 1px solid #e3ffff;
}
.avatar{
  height: 12vh;
  width: 12vh;
  border-radius: 100%;
  background-color: #f5f5f5;
  margin: 3vh auto;
  overflow: hidden;
}
.avatar img{
  height: 100%;
  width: auto;
}
.name-cn{
  writing-mode: vertical-lr;
  color: #fff;
  font-size: 3vh;
  text-align: center;
  margin: 0 auto;
  padding: 4vh 0;
}
.name-en{
  width: 9vh;
  margin: 0 auto;  
  color: #fff;
  font-size: 2vh;
  transform:rotate(90deg) translateX(1vh);

}
.contentbox{
  padding: 0 5.4vh 5.4vh;
}
.botcont{
  border-bottom: 1px solid #bf766d;
  border-left: 1px solid #bf766d;
  border-right: 1px solid #bf766d;
  padding: 2vh ;
}
.txtbox{
  font-size: 1.8vh;
  color: #bf766d;
  padding: 2vh;
  height: 29vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  
}
.infobox{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.infobox .logo{
  color: #d5bd7d;
  width: 7vh;
}
.infobox .pic img{
  width: 7vh;
  height: 7vh;
  border: 1px solid #f5f5f5;
}

.infobox .time{
  width: 7vh;
  font-size: 12px;
}
.cv-wrapper {
  width: 10
}