@media screen and (min-width: 1120px) {

}
@media screen and (max-width: 1119px) {
  
}
@media screen and (max-width: 1040px) {
  .mood-box{
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  
}
@media screen and (max-width: 768px) {
  .mood-box{
    padding-left: 0;
  }
  .mood-item{
    padding-bottom: 100px;
  }
  .mood-item .time{
    left: 43px;
    top: -38px;
  }
  .mood-item .picture img{
    max-width: 100%;
    border-width: 5px;
  }
}