.cover-wrapper {
  margin: 0 auto;
  height: 100vh;
  max-width: 65vh;
  background-color: #fff;
  box-sizing: border-box;
}

.cover-bannerbox {
  height: 54.4vh;
  background-image: url('../images/banner.jpg');
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 5.4vh 5.4vh 0;
  overflow: hidden;
  box-sizing: border-box;
}

.cover-wrapper .topcont {
  height: 49vh;
  border-top: 1px solid #e3ffff;
  border-left: 1px solid #e3ffff;
  border-right: 1px solid #e3ffff;
}

.cover-wrapper .avatar {
  height: 12vh;
  width: 12vh;
  border-radius: 100%;
  background-color: #f5f5f5;
  margin: 3vh auto;
  overflow: hidden;
}

.cover-wrapper .avatar img {
  height: 100%;
  width: auto;
}

.cover-wrapper .name-cn {
  writing-mode: vertical-lr;
  color: #fff;
  font-size: 3vh;
  text-align: center;
  margin: 0 auto;
  padding: 4vh 0;
}

.cover-wrapper .name-en {
  width: 9vh;
  margin: 0 auto;
  color: #fff;
  font-size: 2vh;
  transform: rotate(90deg) translateX(1vh);
}

.cover-wrapper .contentbox {
  padding: 0 5.4vh 5.4vh;
}

.cover-wrapper .botcont {
  border-bottom: 1px solid #bf766d;
  border-left: 1px solid #bf766d;
  border-right: 1px solid #bf766d;
  padding: 2vh;
}

.cover-wrapper .txtbox {
  font-size: 1.8vh;
  color: #bf766d;
  padding: 2vh;
  height: 29vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.cover-wrapper .infobox {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cover-wrapper .infobox .logo {
  color: #d5bd7d;
  width: 7vh;
}

.cover-wrapper .infobox .pic img {
  width: 7vh;
  height: 7vh;
  border: 1px solid #f5f5f5;
}

.cover-wrapper .infobox .time {
  width: 7vh;
  font-size: 12px;
}

.resume-wrap {
  width: 900px;
  margin: 0 auto;
  box-shadow: 0 0 50px #333;
}
.blink-arrow {
  position: fixed;
  right: 100px;
  bottom: 100px;
  display: block;
}
.blink-arrow .arrow {
  font-size: 50px;
  color: #E3F2FD;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  /* border: 1px solid #0D47A1; */
  border-radius: 80px;
  cursor: pointer;
  animation: blink 800ms ease-out infinite alternate;
  background: linear-gradient(#82B1FF, #2962FF);
  box-shadow: 0 0 20px #82B1FF
}

@keyframes blink {
  0% {
    /* border-color: #0D47A1; */
    box-shadow: 0 0 20px #82B1FF, inset 0 0 5px #2979FF
  }
  100% {
    /* border-color: #42A5F5; */
    box-shadow: 0 0 20px #2962FF, inset 0 0 5px #2979FF
  }
}

body{
  background-color: #222922
}


.super-input input {
  background: #222;
  background: -webkit-linear-gradient(#333, #222);
  background: -moz-linear-gradient(#333, #222);
  background: -o-linear-gradient(#333, #222);
  background: -ms-linear-gradient(#333, #222);
  background: linear-gradient(#333, #222);
  border: 1px solid #444;
  border-radius: 5px 0 0 5px;
  box-shadow: 0 2px 0 #000;
  color: #888;
  display: block;
  float: left;
  font-family: 'Cabin', helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  height: 40px;
  margin: 0;
  padding: 0 10px;
  text-shadow: 0 -1px 0 #000;
  width: 200px;
}

.super-input input:focus {
  -webkit-animation: glow 800ms ease-out infinite alternate;
  -moz-animation: glow 800ms ease-out infinite alternate;
  -o-animation: glow 800ms ease-out infinite alternate;
  -ms-animation: glow 800ms ease-out infinite alternate;
  animation: glow 800ms ease-out infinite alternate;
  background: #222922;
  background: -webkit-linear-gradient(#333933, #222922);
  background: -moz-linear-gradient(#333933, #222922);
  background: -o-linear-gradient(#333933, #222922);
  background: -ms-linear-gradient(#333933, #222922);
  background: linear-gradient(#333933, #222922);
  border-color: #393;
  box-shadow: 0 0 5px rgba(0, 255, 0, .2), inset 0 0 5px rgba(0, 255, 0, .1), 0 2px 0 #000;
  color: #efe;
  outline: none;
}

@keyframes glow {
  0% {
    border-color: #393;
    box-shadow: 0 0 5px rgba(0, 255, 0, .2), inset 0 0 5px rgba(0, 255, 0, .1), 0 2px 0 #000;
  }
  100% {
    border-color: #6f6;
    box-shadow: 0 0 20px rgba(0, 255, 0, .6), inset 0 0 10px rgba(0, 255, 0, .4), 0 2px 0 #000;
  }
}

/* mood-wrappper */
.mood-wrapper{
  width: 100%;
  height: 100vh;
  background-image: url(../images/mood_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
  /* padding-top: 100px; */
  padding: 100px 20px 0 20px;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}
.mood-box{
  width: 1000px;
  margin: 0 auto;
  padding-left: 120px;
  box-sizing: border-box;
  /* border: 1px solid #82B1FF; */
  position: relative;
  
}
.mood-box::before{
  content: '';
  display: block;
  width: 4px;
  background: linear-gradient(rgba(130, 177, 255, .2) 0%, rgb(130, 177, 255) 20%, rgb(130, 177, 255) 80%, rgba(130, 177, 255, .2) 100%);
  position: absolute;
  top: 10px;
  bottom: 0;
}
.mood-item{
  position: relative;
  padding-left: 40px;
  padding-bottom: 40px;
}
.mood-item::before{
  box-sizing: border-box;
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 4px solid #448AFF;
  background-color: #fff;
  position: absolute;
  left: -9px;
  top: 10px;
}
.mood-item .chunk{
  background-color: rgba(130, 177, 255,0.6);
  position: relative;
  border-radius: 6px;
  padding: 20px;
}
.mood-item .chunk::before{
  content: '';
  display: block;
  border-left:10px solid transparent;
  border-top:10px solid transparent;
  border-bottom:10px solid transparent;
  border-right:10px solid rgba(130, 177, 255,0.6);
  position: absolute;
  top: 10px;
  left: -20px;
}
.mood-item .time{
  position: absolute;
  left: -120px;
  color: #448AFF;
}
.mood-item .time strong{
  font-size: 28px;
  font-weight: normal;
  /* line-height: 1; */
}
.mood-item .avatar{
  width: 60px;
  height: 60px;
  border-radius: 100%;
  overflow: hidden;
}
.mood-item .avatar img{
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.mood-item .content{
  font-size: 16px;
  color: #0D47A1;
  /* color: rgba(0,0,0,.87); */
}
.mood-item .picture{
  padding: 20px 0;
  /* border: 1px solid #448AFF; */
  /* background-color: #fff; */
}
.mood-item .picture1{
  transform:rotate(9deg) scale(0.9)
}
.mood-item .picture2{
  transform:rotate(-9deg) scale(0.9)
}
.mood-item .picture img{
  display: block;
  margin: 0 auto;
  max-width: 500px;
  border-radius: 6px;
  border: 10px solid #fff;
  box-shadow: 0 0 5px #448AFF;
}