* {
  box-sizing: initial;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background: url('../images/white_lattice_bg.jpg');
  background-repeat: repeat;
  /* background-size: 100px 100px; */
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.left-cont {
  width: 500px;
  height: 280px;
  background: url('../images/border_01.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 300px;
  position: relative;
}
.left-cont .flowers {
  width: 400px;
  height: 300px;
  background: url('../images/flower_01.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.left-cont h3{
  text-align: center;
  /* margin-top: 200px; */
}
.activity {
  padding-top: 200px;
}
.activity img {
  width: 100%;
}
.right-cont {
  padding: 15px 50px;
  width: 500px;
}
.nostalgia {
  width: 400px;
  height: 350px;
  background: url('../images/nostalgia_bg.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat; 
  padding: 20px;
  position: relative;
}
.nostalgia p{
  padding-top: 30px;
  letter-spacing: 5px;
  padding-right: 120px;
}
.nostalgia .sun {
  width: 200px;
  height: 200px;
  background-image: url('../images/sammy_sun.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: absolute;
  top: 20px;
  right: -45px;
  z-index: 2;
}
.nostalgia .bus {
  width: 260px;
  height: 200px;
  background-image: url('../images/bus_01.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
}
.diary h3 {
  font-size: 24px;
  font-style: oblique;
  padding: 30px 0;
}
.diary p {
  letter-spacing: 5px;
  line-height: 30px
}
.diary .sign {
  text-align: right;
  font-style: oblique;
}
.right-cont .flowers img{
  width: 100%;
}